<%= form_for @order do |f| %>

  <div class = "form-group">
    <%= f.hidden_field :user_id, placeholder: current_user.id, class: "form-control" %>
  </div>

  <p>Are you sure you want to checkout?</p>

<div class="actions">
<%= f.submit "Yes", class: "btn btn-primary" %>
<%= link_to "No", root_path, class: "btn btn-default" %>
</div>
<% end %>
