<h1>Bikeshop</h1>
<h5>Welcome to our Bikeshop! We have different kinds of bicycles here for you, for great prices!</h5>
<div>
  <ul class="col-md-6">
    <li>Mountainbikes</i>
    <li>City bicycles</li>
    <li>Ebikes</li>
    <li>???</li>
  </ul>
</div>
