/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin:0 auto;
  padding: 0 auto;
}

.navbar-brand {
  width: 40%;
}

body, .navbar, .notice, .alert {
  background-color: #f8f8f8;
}

.alert {
  margin : 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 5%;
}

.btn {
  padding: 5px;
}

a:link {
  color: #333333;
}
a:hover {
  color: gray;
}
a:active {
  color: gray;
}
a:visited {
  color: #333333;
}

h5 {
  font-size: 1.1em;
  color: #333333;
}

 #navbar {
   margin-right: 3%;
 }

p.notice {
  margin-left: 4%;
}

.btn-primary {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-primary:hover {
  background-color: rgba(51,51,51,0.9);
  border-color: rgba(51,51,51,0.9);
}

.panel-primary {
    border-color: white;
    border-radius: 10px;
    width: 80%;
}

.panel-primary > .panel-heading {
    color: #f8f8f8;
    background-color: #333333;
    border-color: #333333;
    font-size: 18px;
}

.panel-primary > .panel-body {
  padding: 3% 5% 3% 5%;
}


.cart {
  background-image: url("http://res.cloudinary.com/maja55/image/upload/v1485390278/13706-200_copy2_ie8umm.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  background-size: contain;
}

form {
  margin: 0% 5%;
}
