// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container1 {
  background-color: #f8f8f8;
  padding-left: 3%;
}


#search input[type="text"] {
    border: 1px solid #d1d1d1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #bebebe;
    width: 100%;
    padding: 6px 15px 6px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    }

.sub_label {
  font-weight: normal;
}

img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 1em;
    display: block;
}


#products_display {
  background-color: white;
  padding-top: 0.3em;
  padding-bottom: 1em;
  border-radius: 10px;
}

#bike-container {
  padding: 1em;
}

.bike_info {
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.25);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.25);
  padding-bottom: 1em;
  margin: 0 auto;
}

.bike_info {
  line-height: 1em;
  width: 100%;
}

#bike_model {
  background-color: #f8f8f8;
  color: black;
  height: 2.5em;
  padding-top: 1em;
  padding-bottom: 2em;
}

img {
    max-width: 100%;
    height: auto;
    padding: 1em;
}

p.sorting {
  color: #777;
}

div.label-success {
    background-color: white;
    margin: 0 auto;
  }
