<div id="main-container" class="container">
      <div class="row">
        <div id="sidebar" class="col-xs-3">
          <p>filters go here, maybe make div into unordered list
            and insert each method to display all filters as list items and
            options as checkboxes within each filter
        </div>
      </div>

        <div id="products_display">
          <% @products.each do |product| %>
              <div id="row" class="col-xs-3">
                <h4><%= product.model %></h4>
                <div id="bike_photo"><%= product.image %></div>
            </div>
        </div>
</div>
