<div id="main-container" class="container">
    <div class="row">
        <div id="sidebar" class="col-sm-3">
          <p>filters go here, maybe make div into unordered list
            and insert each method to display all filters as list items and
            options as checkboxes within each filter</p>
        </div>
        <div id="products_display" class="col-xs-9">
          <div class="row">
            <% @products.each do |product| %>
                <div id="bike-container" class="col-xs-4">
                  <h4 id="bike_model"><%= link_to product.model, product%></h4>
                  <div id="bike_photo"><%= link_to product.image, product%></div>
               </div>
             <% end %>
          </div>
        </div>
    </div>
</div>
